---
http_interactions:
- request:
    method: get
    uri: https://api-v3.igdb.com/games
    body:
      encoding: UTF-8
      string: fields *; where name = "Mario Kart 64";
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 2342,
            "age_ratings": [
              339
            ],
            "aggregated_rating": 81.0,
            "aggregated_rating_count": 1,
            "alternative_names": [
              23329,
              32156,
              32157,
              32158,
              32159
            ],
            "category": 0,
            "collection": 449,
            "cover": 84752,
            "created_at": 1372636800,
            "external_games": [
              147832,
              246522
            ],
            "first_release_date": 850521600,
            "franchise": 24,
            "franchises": [
              24,
              845
            ],
            "game_modes": [
              1,
              2,
              4
            ],
            "genres": [
              10,
              14
            ],
            "involved_companies": [
              98361,
              98362
            ],
            "keywords": [
              25,
              280,
              281,
              296,
              1019,
              1046,
              1057,
              1075,
              1381,
              1440,
              1678,
              1682,
              1710,
              1744,
              1783,
              2071,
              2112,
              2152,
              2274,
              2415,
              2759,
              3627,
              3831,
              3912,
              3988,
  [...]
[...]
- request:
    method: get
    uri: https://api-v3.igdb.com/age_ratings
    body:
      encoding: UTF-8
      string: fields *; where id = 339;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 339,
            "category": 1,
            "rating": 8,
            "checksum": "0c69d549-9c4a-eef2-c3bb-3c40d671c102"
          }
        ]
  recorded_at: Thu, 30 Jul 2020 21:27:09 GMT
- request:
    method: get
    uri: https://api-v3.igdb.com/covers
    body:
      encoding: UTF-8
      string: fields *; where id = 84752;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 84752,
            "alpha_channel": false,
            "animated": false,
            "game": 2342,
            "height": 800,
            "image_id": "co1te8",
            "url": "//images.igdb.com/igdb/image/upload/t_thumb/co1te8.jpg",
            "width": 600,
            "checksum": "82da4907-fc06-d72a-639a-9bef3dcf078a"
          }
        ]
  recorded_at: Thu, 30 Jul 2020 21:27:10 GMT
- request:
    method: get
    uri: https://api-v3.igdb.com/genres
    body:
      encoding: UTF-8
      string: fields *; where id = 10;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 10,
            "created_at": 1297555200,
            "name": "Racing",
            "slug": "racing",
            "updated_at": 1323216000,
            "url": "https://www.igdb.com/genres/racing",
            "checksum": "73c2653f-54d8-c1bd-d523-dd57fb753194"
          }
        ]
  recorded_at: Thu, 30 Jul 2020 21:27:10 GMT
[...]
- request:
    method: get
    uri: https://api-v3.igdb.com/platforms
    body:
      encoding: UTF-8
      string: fields *; where id = 4;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 4,
            "abbreviation": "N64",
            "alternative_name": "N64",
            "category": 1,
            "created_at": 1297555200,
            "generation": 5,
            "name": "Nintendo 64",
            "platform_logo": 260,
            "product_family": 5,
            "slug": "n64",
            "updated_at": 1565136000,
            "url": "https://www.igdb.com/platforms/n64",
            "versions": [
              51,
              122
            ],
            "websites": [
              35
            ],
            "checksum": "4b7137c3-d1e7-6b17-c349-24a74c02fd8a"
          }
        ]
  recorded_at: Thu, 30 Jul 2020 21:27:10 GMT
[...]
- request:
    method: get
    uri: https://api-v3.igdb.com/games
    body:
      encoding: UTF-8
      string: fields *; where id = 358;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 358,
            "age_ratings": [
              24,
              24927
            ],
            "alternative_names": [
              31808,
              31809,
              31810,
              31811,
              31812,
              31813,
              31814
            ],
            "bundles": [
              5199,
              9250,
              69638,
              77227,
              77785
            ],
            "category": 0,
            "collection": 6118,
            "cover": 97418,
            "created_at": 1300320000,
            "external_games": [
              142871,
              190087,
              245622,
              1193416,
              1611061
            ],
            "first_release_date": 495417600,
            "franchise": 24,
            "franchises[...]
[...]
- request:
    method: get
    uri: https://api-v3.igdb.com/games
    body:
      encoding: UTF-8
      string: fields *; where id = 2349;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 2349,
            "age_ratings": [
              351,
              21634
            ],
            "aggregated_rating": 83.5,
            "aggregated_rating_count": 6,
            "alternative_names": [
              13955,
              13956
            ],
            "artworks": [
              4490,
              4491,
              4492
            ],
            "category": 0,
            "collection": 449,
            "cover": 94758,
            "created_at": 1372636800,
            "external_games": [
              128181,
              250216
            ],
            "first_release_date": 1322784000,
            "franchise": 24,
            "franchises": [
              24,
              845
            ],
            "game_modes": [
              1,
              2,
              4
            ],
            "genres": [
              10
            ],
            "hypes": 1,
            "involved_companies": [
              31985,
              31986
            ],
            "keywords": [
              25,
              280,
              394,
              1075,
              1299,
              1333,
              1678,
              1682,
              1744,
              2112,
              2152,
              2411,
              3627,
              3794,
              3901,
              3912,
              3988,
              4144,
              4157,
  [...]
[...]
- request:
    method: get
    uri: https://api-v3.igdb.com/screenshots
    body:
      encoding: UTF-8
      string: fields *; where id = 383313;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 383313,
            "alpha_channel": false,
            "animated": false,
            "game": 2342,
            "height": 480,
            "image_id": "sc87rl",
            "url": "//images.igdb.com/igdb/image/upload/t_thumb/sc87rl.jpg",
            "width": 640,
            "checksum": "062a4fea-9989-a84a-8a44-8ac00c9d6249"
          }
        ]
  recorded_at: Thu, 30 Jul 2020 21:27:14 GMT
[...]
- request:
    method: get
    uri: https://api-v3.igdb.com/themes
    body:
      encoding: UTF-8
      string: fields *; where id = 1;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1,
            "created_at": 1322524800,
            "name": "Action",
            "slug": "action",
            "updated_at": 1323216000,
            "url": "https://www.igdb.com/themes/action",
            "checksum": "c177e0ff-f29a-2a2e-fce5-f945258ceb59"
          }
        ]
  recorded_at: Thu, 30 Jul 2020 21:27:15 GMT
[...]
- request:
    method: get
    uri: https://api-v3.igdb.com/game_videos
    body:
      encoding: UTF-8
      string: fields *; where id = 35661;
    headers:
      User-Key:
      - GAME_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 35661,
            "game": 2342,
            "name": "Gameplay Video",
            "video_id": "ASWgJvuQhTA",
            "checksum": "dd744488-861a-ddc0-66e2-c5a2f23a42cf"
          }
        ]
  recorded_at: Thu, 30 Jul 2020 21:27:16 GMT
recorded_with: VCR 6.0.0
